{{/* 

Shortcode for inserting an image that is a link to click on. This shortcode currently tries to work without javascript but maybe in the future we add this. That's why we have already added an html ID to the element. 

HOW TO USE:
1. If you want to have a bigger image that is shown when the image is clicked, put it in the same directory as the other image, same extension, just add `-original` to the filename before the extension. You don't need to. If we don't see this larger image we point to the other. 
2. {{< imagelink "/img/test-image.jpg" "description for a11y" >}} 
- note: put a leading / in the path just like you would with markdown syntax.
- note: the description of the image is required to provide 
    
*/}}

{{ $imageSrc := .Get 0 }}
{{ $imageAlt := .Get 1 }}

{{/*
    Below we see examples of what we are given (left) and what we need to generate (right):
    * `./file.jpg` -> `./file-original.jpg`
    * `path/to/file.jpg`  -> `path/to/file-original.jpg`
    * /path/to/file.jpg` -> `/path/to/file-original.jpg`
    * `file.jpg` -> `file-original.jpg`
        
    Given this example: `path/to/file.jpg`, the below variables are giving us...
    * `srcPath` = `path/to`
    * `fileNameExt` = `file.jpg`
    * `fileExt` = `.jpg`
    * `fileName` = `file`

    Note: (delimit (slice)) code is annoying and ugly but it's how to concatinate strings: https://stackoverflow.com/a/41614235
*/}}
{{ $srcPath := path.Dir $imageSrc }}
{{ $fileNameExt := path.Base $imageSrc }}
{{ $fileExt := path.Ext $imageSrc }}
{{ $fileName := index (split $fileNameExt ".") 0 }}    
{{ $originalImagePath := path.Join $srcPath (print $fileName "-original" $fileExt) }} 

{{ $clickImageSrc := $imageSrc }}

{{ $staticOriginalImagePath := delimit (slice "static" $originalImagePath) "/" }} 
{{ if (fileExists $staticOriginalImagePath) -}}
    {{ $clickImageSrc = $originalImagePath }}
{{- end }}

{{/*
    rel="" suggestions from: https://stackoverflow.com/a/15551842
*/}}
<a id="image-link" href="{{ $clickImageSrc }}" target="_blank" rel="noopener noreferrer">            
    <img src="{{ $imageSrc }}" alt="{{ $imageAlt }}" />
</a>